modules:
  config:
    JoomlaBrowser:
      url: 'http://###'
      database user: 'root'
      database password: 'root'
      database name: 'joomla'
      database type: 'mysqli'
    AcceptanceHelper:
      counter_test_url: 'http://###'
      url: 'http://###'